In [1]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

/Users/rajsilwal/anaconda3/envs/test_project/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
#loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

In [7]:
#data cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [14]:
df.isnull()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785736,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
785737,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
785738,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
785739,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
785740,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False

In [17]:
df.loc[0:10,'salary_rate':'salary_hour_avg'].dropna(subset ='salary_rate')

Empty DataFrame
Columns: [salary_rate, salary_year_avg, salary_hour_avg]
Index: []

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  datetime64[ns]
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(11)
memory usage: 86.2+ MB